[servo NozzleBrush]
pin: PF1
initial_angle: 0
maximum_servo_angle = 180
minimum_pulse_width = 0.0005
maximum_pulse_width = 0.0024

[gcode_macro CLEAN_NOZZLE]
variable_start_x:        3
variable_start_y:        85
variable_wipe_dist:      30
variable_wipe_qty:       4
variable_wipe_spd:       200
variable_brush_out:      90
variable_brush_in:       0

gcode:
     _CG28
     G1 Z30             
     SET_SERVO SERVO=NozzleBrush ANGLE={brush_out}    
     G1 X{start_x} Y{start_y-20} F6000     

## Wipe nozzle
 {% for wipes in range(1, (wipe_qty + 1)) %}
   G1 X{start_x} Y{start_y + wipe_dist} F{wipe_spd * 60}
   G1 X{start_x - 2} Y{start_y} F{wipe_spd * 60}     
   G1 X{start_x} Y{start_y + wipe_dist} F{wipe_spd * 60}
   G1 X{start_x + 2} Y{start_y} F{wipe_spd * 60}
 {% endfor %}
    
 SET_SERVO SERVO=NozzleBrush ANGLE=0
 _STATUS_READY

[gcode_macro _brush_out]
gcode: 
    SET_SERVO SERVO=NozzleBrush ANGLE=90

[gcode_macro _brush_in]
gcode: 
    SET_SERVO SERVO=NozzleBrush ANGLE=0