
[output_pin chamber_heater]
pin: rpi:gpio13
value: 0
shutdown_value: 0

############################
# gcodes
############################

[gcode_macro M191]
gcode:

[gcode_macro _chamber_heater_on]
gcode:
      M141

      
[gcode_macro _chamber_heater_off]
gcode:
      RESPOND TYPE=command MSG='Turning Off Chamber Heater'
      SET_PIN PIN=chamber_heater VALUE=0
      
[gcode_macro M141]
gcode:
     RESPOND TYPE=command MSG='Heating Chamber'
     SET_PIN PIN=chamber_heater VALUE=1  

############################
# Chamber Lights
############################

[output_pin caselight]
pin: PE6
pwm: true
cycle_time: 0.010
value: 1
shutdown_value: 0

[gcode_macro CHAMBER_LIGHTS_OFF]
gcode:
     SET_PIN PIN=caselight VALUE=0

[gcode_macro CHAMBER_LIGHTS_ON]
gcode:
     SET_PIN PIN=caselight VALUE=1