[heater_bed]
heater_pin: PG11
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
pullup_resistor: 2200
#pwm_cycle_time: 0.02227 # 44.9Hz
max_power: 1
min_temp: 0
max_temp: 130

[verify_heater heater_bed]
max_error: 120
check_gain_time: 160
hysteresis: 50
heating_gain: 1

[gcode_macro PID_BED]
gcode:
      G28
      PID_CALIBRATE HEATER=heater_bed TARGET=120
      TURN_OFF_HEATERS
      SAVE_CONFIG

[gcode_macro PID_EXTRUDER]
gcode:
      G28
      PID_CALIBRATE HEATER=extruder TARGET=245
      M106 S75
      TURN_OFF_HEATERS
      SAVE_CONFIG 